---
name: home
url: /
controller: HomeController
---

<div class="grid-container">
  <form>
    <div class="grid-block">
      <div class="small-12 medium-6 grid-content">
        <label><h4>The Ball Host Name {{vm.count}} + 2</h4></label>
        <select>
          <option ng-repeat="host in vm.hosts" value="{{host.value}}">{{host.displayName}}</option>
        </select>
      </div>
      <div class="small-12 medium-6 grid-content">
        <label><h4>Email Address</h4>
          <input type="text" placeholder="Text field" ng-model="vm.email">
        </label>
      </div>
    </div>
  </form>
</div>
<div class="small-12 small-centered columns text-center">
  <a class="hollow success button large radius" ng-click="vm.CreateConnection()" href="#">Connect...</a>
</div>
