<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="monoandroid403" />
  <package id="PCLCrypto" version="1.0.2.15130" targetFramework="monoandroid403" />
  <package id="PCLStorage" version="1.0.2" targetFramework="monoandroid403" />
  <package id="protobuf-portable-net" version="2.0.0.668" targetFramework="monoandroid403" />
  <package id="Validation" version="2.0.6.15003" targetFramework="monoandroid403" />
  <package id="WebSocketSharp" version="1.0.3-rc9" targetFramework="monoandroid403" />
  <package id="Xamarin.Insights" version="1.10.5" targetFramework="monoandroid403" />
</packages>