<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="protobuf-portable-net" version="2.0.0.668" targetFramework="monoandroid403" />
  <package id="TheBallDeviceClient" version="0.9.7-beta1" targetFramework="monoandroid403" />
  <package id="WebSocketSharp" version="1.0.3-rc3" targetFramework="monoandroid403" />
  <package id="Xamarin.Insights" version="1.10.5" targetFramework="monoandroid403" />
</packages>