
<div class="grid-container">
  <div ng-if="vm.isCreateFirstConnectionMode()">
    <div>Start adding connections :-)</div>
  </div>
  <div ng-if="vm.isManageConnectionsMode()">
    <!--
    <div class="container-fluid" dynamic-layout items="vm.cards" style="border: dashed 2px green;position: relative;height:200px"></div>
      <div isotope-container="isotope-container" style="border:solid green 2px">
    </div>
    -->
    <div class="isotope-container">
      <div align="center" class="card tbisobox isotope-item" ng-repeat="connection in vm.connections">
        <h5 class="tbshadowtext">{{connection.host}}</h5>
        <h5 class="tbshadowtext">{{connection.email}}</h5>
        <img src="../../assets/img/portal2_looping_giphy.gif" class="tbisoboximg">
        <div><button class="button hollow large tbisoboximg" ng-click="vm.GoToConnection(connection.id)"><div class="tbshadowtext">Go To Connection</div></button></div>
        <div><button class="button alert medium tbisoboximg" ng-click="vm.DeleteConnection(connection.id)"><div class="tbshadowtext">Remove</div></button></div>
      </div>
    </div>
  </div>
  <div class="row" align="center">
    <button class="button hollow large tbisoboximg" zf-open="createConnectionModal"><div class="tbshadowtext">Add New Connection</div></button>
  </div>
  <div id="createConnectionModal" zf-modal="" overlay-close="false">
    <a class="close-button" zf-close="">x</a>
    <h4 class="small-12 medium-12 large-12">New Connection</h4>
    <div class="small-12 medium-6 grid-content">
      <label><h5>The Ball Host Name</h5></label>
      <select ng-model="vm.currentHost" ng-options="host.displayName for host in vm.hosts">
      </select>
    </div>
    <div class="small-12 medium-6 grid-content">
      <label><h5>Email Address</h5>
        <input type="text" placeholder="Account Email Address" ng-model="vm.email">
      </label>
    </div>
    <div class="small-12 small-centered columns text-center">
      <button class="hollow success button large tbisoboximg" ng-click="vm.CreateConnection()"><div class="tbshadowtext">Create Next Connection</div></button>
    </div>
  </div>
</div>

<div id="progressBarModal" zf-modal="" overlay-close="false">
  <a class="close-button" zf-close="">x</a>
  <style>
    .progress .meter {
      -webkit-transition: width 1s ease-out;
      transition: width 1s ease-out;
      background-color: cyan;
      display:inline-block;
    }
  </style>
  <h3>Static</h3>
  <div class="row">
    <progressbar max="progressMax" animate="true" value="progressCurrent" type="alert">{{progressCurrent}} / {{progressMax}}</progressbar>
  </div>
</div>
<!--
<a title="My notification" class="button" href="#" zf-notify="main-notifications" autoclose="3000" color="success" content="Notification example">Dynamic Notification</a>
-->
<zf-notification-set id="main-notifications" position="top-left"></zf-notification-set>

<div>{{vm.LastOperationDump}}</div>

