<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="login" value="https://login.windows.net/{0}" />
    <add key="tenantId" value="138b1393-d8ab-4b7d-b1cd-e283613c1ce9" />
    <add key="apiEndpoint" value="https://management.core.windows.net/" />
    <add key="clientId" value="687c8364-3966-4fb4-8134-388ef9572d0a" />
    <add key="redirectUri" value="https://apps.theball.me/TheBallAzManager" />
    <add key="subscriptionId" value="34c49516-d527-45d9-86ce-64a5e3de3440" />
    <add key="serviceName" value="AutoServiceTest" />
    <add key="storageName" value="tbautoservice" />
    <add key="deployName" value="AutoServiceDeploy" />
    <add key="vmName" value="AutoServiceVM" />
    <add key="adminName" value="AutoServiceAdmin" />
    <add key="adminPassword" value="T11r1kka!" />
    <add key="imageFilter" value="Windows Server 2012 R2 Datacenter" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>