<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServerSSLServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ServerSSLServiceSoapBinding1" />
                <binding name="GASServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="GASServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://system.globalsign.com/kb/ws/v1/ServerSSLService"
                binding="basicHttpBinding" bindingConfiguration="ServerSSLServiceSoapBinding"
                contract="GlobalSignSSLSvc.ServerSSLV1" name="ServerSSLV1Port" />
            <endpoint address="https://system.globalsign.com/kb/ws/v1/GASService"
                binding="basicHttpBinding" bindingConfiguration="GASServiceSoapBinding"
                contract="GlobalSignGASSvc.GASV1" name="GASV1Port" />
        </client>
    </system.serviceModel>
</configuration>